.form-section {
    padding: 2rem;
}

.cards {
    margin-top: 2rem;
}

.cardHolder {
    /* background:  */
}

.title {
    background-color: #E9ECEF;
}
.title2 {
    background-color: #E9ECEF;
    padding: 1rem;
}